body {
  font-family: "American Typewriter", serif;
  text-align: center;
}
h1 {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  color: black;
}
h2,
h3 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: bold;
  padding: 15px;
}
p1 {
  font-size: 120px;
}
h4 {
  font-weight: normal;
  font-size: 30px;
  padding: 15px;
}
h5 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: bold;
  padding: 55px;
  color: #a9a9a9;
}
.row {
  font-size: 20px;
  font-weight: normal;
}

li {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}
.units {
  font-size: 15px;
  position: relative;
  top: 10;
}
